header {

    .logo {
        aspect-ratio: 1/1;
        height: 80px;
    }
    
    a {
        font-size: 0.7rem;
        color: #000000;
    }

}

.jumbo {
    height: 300px;
    width: 100%;
    background-image: url('/public/images/jumbotron.jpg');
    background-size: cover;
}
